@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

body {
    font-family: 'Archivo Narrow', sans-serif;
    color: rgba(71,71,71,1);
}

.fs-1 {
    font-size: 1.1em;
}

.logo {
    padding: 14rem 2rem 8.7rem 1rem;
    width: 261px;
}

.text-center {
    text-align: center;
}

.flex {
    display : flex;
}

.text-gray {
    color: rgba(91,91,91,1);
 }

.fs-2 {
    font-size: 1.5em;
}

.mtl-0 {
    margin-top: 0.2rem;
    margin-left: 0.65rem;
}

.m-2 {
    margin : 0.25rem 0.2rem 0rem 0.65rem;
}

.ml-3 {
    margin-left: 2.85rem;
}

.rounded {
    border-radius: 1rem;
}

.m-0 {
    margin-left: 0.3rem;
    margin-top: 0.2rem;
}

.fw-bold {
    font-weight: bold;
}

.w-20 {
    width: 20px;
}

.text-warning {
    color: rgba(246,135,80,1);
}

.ml-0 {
    margin-left: 0.25rem;
}

.mt-0 {
    margin-top: 0.25rem;
}

.card {
    position: relative;
    border: 1px solid gray;
    border-radius: 0.75rem;
    background-repeat: no-repeat;
    background-size: 174px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    margin-left: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 18rem;
}

.col-lg-6 {
    flex: 0 0 auto;
    align-items: center;
    width: 32%;
}

.card-bg {
    background-image: url('images/background.png');
    background-position-x: -47px;
    background-position-y: -41px;
}

.card-bg-reverse {
    background-image: url('images/background-reverse.png');
    background-position-x: 178px;
    background-position-y: -43px;
}

.card-footer {
    background-color: rgba(246,135,80,1);
    border-radius: 0rem 0rem 0.75rem 0.75rem;
    padding: 0.25rem;
}

.hr-bg {
    border: 0;
    width: 80%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(246,135,80,1), rgba(0, 0, 0, 0));
}

.pb-1 {
    padding-bottom: 1.2rem;
}

.text-decoration-none {
    text-decoration: none;
}

.text-white {
    color: rgb(240 248 255);
}

.m-1 {
    margin : 0.25rem 0rem 0.25rem 0.75rem;
}

.mt-1 {
    margin-top: 1rem;
}

.h-25 {
    height: 25px;
}

.mt-6 {
    margin-top: 6rem;
}

.w-100 {
    width : 100%;
}

.ml-2 {
    margin-left: 2.65rem;
}

.ml-1 {
    margin-left: 0.4rem;
}

.mb-3 {
    margin-bottom: 3.2rem;
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-left: 0rem;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        align-items: center;
        width : 90%;
    }

    .card {
        position: relative;
        border: 1px solid gray;
        border-radius: 0.75rem;
        background-repeat: no-repeat;
        background-size: 174px;
        margin-left: 2.4rem;
        margin-bottom: 2rem;
    }

    .logo {
        padding: 14rem 2rem 8.7rem 2rem;
        width: 220px;
    }

    .card-footer {
        background-color: rgba(246,135,80,1);
        border-radius: 0rem 0rem 0.75rem 0.75rem;
        height: 25px;
    }

    .fs-1 {
        font-size: 1em;
    }

    .pb-1 {
        padding-bottom: 1.02rem;
    }
}